.project-logo {
    display: block;
    max-width: 320px;
    width: 100%;
    height: auto;
    margin: 0 auto 35px auto;
}

.funding-logos {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.funding-logos img {
    max-width: 300px;
    width: 100%;
    height: auto;
}
